# NBA API

In this jypeter we will store the data gained from the endpoints to a postgres database

In [2]:
from nba_api.stats.static import players, teams
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.live.nba.endpoints import boxscore
from nba_api.stats.endpoints import TeamGameLogs ,playergamelogs
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from sqlalchemy import URL
import pg8000

## Teams and players info using the NBA-static api

In [3]:
nba_teams = teams.get_teams()
df_teams = pd.DataFrame(nba_teams)
df_teams.head(3)

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970

In [4]:
active_players = players.get_active_players()
df_players = pd.DataFrame(active_players)
df_players.head(3)

        id         full_name first_name last_name  is_active
0  1630173  Precious Achiuwa   Precious   Achiuwa       True
1   203500      Steven Adams     Steven     Adams       True
2  1628389       Bam Adebayo        Bam   Adebayo       True

## NBA-live API and postegres

Create the database using docker :<br>
```docker run --name nba_postgres -e POSTGRES_USER=mtzimas -e POSTGRES_PASSWORD=what2beradera -e POSTGRES_DB=nba_data -p 5432:5432 -d postgres```

In [5]:
games23 = TeamGameLogs(season_nullable='2023-24').get_data_frames()[0]

In [6]:
games23.head()

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,AVAILABLE_FLAG
0,2023-24,1610612757,POR,Portland Trail Blazers,0022301200,2024-04-14T00:00:00,POR @ SAC,L,48.0,31,...,2359,2077,205,2080,1459,1208,1020,2449,2437,1
1,2023-24,1610612745,HOU,Houston Rockets,0022301199,2024-04-14T00:00:00,HOU @ LAC,W,48.0,50,...,423,2077,1161,267,2012,143,2081,1044,547,1
2,2023-24,1610612753,ORL,Orlando Magic,0022301191,2024-04-14T00:00:00,ORL vs. MIL,W,48.0,42,...,1031,1228,205,1003,710,968,1254,1243,127,1
3,2023-24,1610612751,BKN,Brooklyn Nets,0022301192,2024-04-14T00:00:00,BKN @ PHI,L,48.0,32,...,2294,991,839,690,1459,250,1725,2430,2243,1
4,2023-24,1610612738,BOS,Boston Celtics,0022301186,2024-04-14T00:00:00,BOS vs. WAS,W,48.0,51,...,678,1920,351,4,710,143,1725,186,598,1

In [7]:
# PostgreSQL connection string (adjust password and host if needed)
DATABASE_URL = "postgresql+pg8000://mtzimas:what2beradera@localhost:5432/nba_data"

# Create a database engine
engine = create_engine(DATABASE_URL)

with engine.begin() as connection:
    # Insert DataFrame into PostgreSQL
    ret = games23.to_sql("season23_games", con=connection, if_exists="replace", index=False)


print("Data inserted successfully!")

Data inserted successfully!

Get players statitiscs per game for 2023-24 season

In [8]:
playergamelogs23 = playergamelogs.PlayerGameLogs(season_nullable='2023-24')
playergamelogs23_df = playergamelogs23.get_data_frames()[0]

with engine.begin() as connection:
    # Insert DataFrame into PostgreSQL
    ret = playergamelogs23_df.to_sql("player_game_logs_23", con=connection, if_exists="replace", index=False)
playergamelogs23_df.head()

,SEASON_YEAR,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK,AVAILABLE_FLAG,MIN_SEC
0,2023-24,1629670,Jordan Nwora,Jordan,1610612761,TOR,Toronto Raptors,0022301189,2024-04-14T00:00:00,TOR @ MIA,...,6163,17532,7525,16567,8894,1,138,7405,1,20:31
1,2023-24,1630581,Josh Giddey,Josh,1610612760,OKC,Oklahoma City Thunder,0022301196,2024-04-14T00:00:00,OKC vs. DAL,...,13042,11166,13454,1570,10260,2248,138,10143,1,19:31
2,2023-24,1631093,Jaden Ivey,Jaden,1610612765,DET,Detroit Pistons,0022301197,2024-04-14T00:00:00,DET @ SAS,...,1,6969,8427,21324,15911,2248,138,13968,1,27:04
3,2023-24,1630541,Moses Moody,Moses,1610612744,GSW,Golden State Warriors,0022301198,2024-04-14T00:00:00,GSW vs. UTA,...,1,6969,12379,3565,13948,2248,138,13968,1,16:57
4,2023-24,1630169,Tyrese Haliburton,Tyrese,1610612754,IND,Indiana Pacers,0022301188,2024-04-14T00:00:00,IND vs. ATL,...,18879,6969,9297,350,2337,1,138,4374,1,25:25

To avoid hitting the nba api many times will create a function GameRoster() that create the home and away team roster per game. However the code using the api is :<br>

```
temp_game = boxscore.BoxScore('0022300062')
game_dict = temp_game.game.get_dict()
game_dict['homeTeam']['players'][2]
```